.formcontato{
    background: #EAF2FD;
}

.formcontato__contacto{
    padding: 2rem 0;
    display: flex;
}

.formcontato--esquerda{
    margin-right: 1rem;
    flex: 1;
}

.formcontato__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.formcontato__text{
    display: flex;
    flex-direction: column;
}

.formcontato__title{
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.formcontato__subtext{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.formcontato__form{
    display: flex;
    flex-direction: column;
}

.formcontato__input{
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.formcontato__textarea{
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.formcontato__botao{
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #2E86C1;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.formcontato__botao:hover{
    background: #1B4F72;
}

@media screen and (min-width: 0) {
    .formcontato{
        padding: 1rem 2rem;
    }

    .formcontato__text{
        width: 100%;
    }

    .formcontato__botao{
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .formcontato{
        padding: 2rem 4rem;
    }

    .formcontato__img{
        display: none;
    }  
    
    .formcontato__text{
        flex: auto;
    }

    .formcontato__botao{
        width: 45%;
    }
}

@media screen and (min-width: 1024px) {
    .formcontato__img{
        display: flex;
    }

    .formcontato__text{
        flex: 2;
    }

    .formcontato__botao{
        width: 35%;
    }
}