.experience{
    display: flex;
}

.experience__section__title{
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 2rem;
    align-self: center;
    padding-top: 4rem;
}

.experiencie__box{
    display: flex;

}

.experience__img{
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 15%);
}

.experience__info{
    display: flex;
    flex-direction: column;;
}

.experience__title{
    font-size: 1.15rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.experience__text{
    font-size: .9rem;
    font-weight: 400;
    padding-bottom: 1rem;
    line-height: 1.5;
}

.experience__description{
    margin-top: 1rem;
    display: flex;
}

.experience__repo{
    font-weight: 600;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
}

.experience__repo:hover{
    cursor: pointer;
    background: #e9e9e9;
}

.experience__demo{
    font-weight: 600;
    color: #fff;
    background-color: #2A7AE4;
    padding: 1rem;
    border-radius: 5px;
}

.experience__demo:hover{
    cursor: pointer;
    background-color: #1B4F72;

}

@media screen and (min-width: 0) {
    .experience{
        flex-direction: column;
    }

    .experience__img{
        width: 100%;
        margin-bottom: 1rem;
        order: -1;
    } 

    .experiencie__box{
        flex-direction: column;
        margin: 1rem 2rem;
    }
}

@media screen and (min-width: 768px){
    .experiencie__box{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 2rem 4rem;
    }

    .experience__img{
        width: 100%;
    }

    .experience__info {
        order: 1;
        padding: 2rem 0 1rem 0;
    }

    .experience__text{
        max-width: 50vw;
    }
}

@media screen and (min-width: 1024px){
    .experiencie__box{
        flex-direction: row;   
        justify-content: center;
        align-items: center;    
    }

    .experience__img{
        width: 80%;
        order: 0;
    }

    .experience__info {
        order: 0;
        padding: 2rem;
    }
    
    .experience__info:nth-child(1){
        padding-left: 0;
    }
}

