.title{
    display: flex;
    justify-content: space-between;
    padding: 7rem 4rem 4rem 4rem;
}

.title__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title__bio{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 1.2;    
}

.title__bio:hover{
    color: black;
}

.title__bio__p{
    font-size: 1.25rem;
    font-weight: 400;
}

.rafa{
    background-image: linear-gradient(to right,rgba(55, 101, 175, .6) 100%,#fff 0);
    background-position: 0 80%;
    background-repeat: repeat-x;
    background-size: 100% 23%;
    transition: all .3s ease-in-out;
}

.rafa:hover{
    background-size: 100% 90%;
}

#rafa{
    font-weight: bold;
}

.title__subsection{
    margin-bottom: 1rem;
    line-height: 1.25;
    font-size: 1.15rem;
    max-width: 60vw;
}

.title__subsection:hover{
    color: black;
}

.title__network{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35vw;
}

.title__network__item{
    border-bottom: 2px solid transparent; 
    transition: all .6s ease;
}

.title__network__item:hover{
    border-bottom: 2px solid #3765af;
    color: black;
}

.title__profile{
    max-width: 320px;
    max-height: 320px;
    border-radius: 50%;
    align-self: center;
    border: 2px dotted #3765af;
    padding: 1rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 25%);
}

.title__profile:hover{
    border: 2px solid #3765af;
}

